$thm-bg-primary: #1d2333;
$thm-bg-secondary: #353c51;

$thm-color-primary: #fff;
$thm-color-secondary: #9498a3;

:root {
  --ion-font-family: 'Lato', Arial, sans-serif;

  --ion-background-color: #1d2333;
  --ion-text-color: #fff;

  --ion-toolbar-background-color: #353c51;
  --ion-toolbar-text-color: #9498a3;
}
