<ion-header class="thm-batman-bg--light">
  <ion-toolbar>
    <ion-title>Arduino Monitor</ion-title>
    <arm-refresher></arm-refresher>
  </ion-toolbar>
</ion-header>

<ion-content padding class="thm-batman-bg">
  <ion-row>
    <ion-col>
      <div class="c-box">
        <div class="c-box__icon">
          <ion-icon name="thermometer"></ion-icon>
        </div>
        <h2 class="c-box__title">Temperature</h2>
        <div class="c-box__value" *ngIf="temperature">{{ temperature.celsius }}°C</div>
        <div class="c-box__value" *ngIf="!temperature">--</div>
      </div>
    </ion-col>

    <ion-col>
      <div routerLink="/proximity" class="c-box c-box--withRoute">
        <div class="c-box__icon">
          <ion-icon name="alarm"></ion-icon>
        </div>
        <h2 class="c-box__title">Proximity alarm</h2>
        <div class="c-box__value">--</div>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
